body {
  font-family: Nunito, sans-serif;
  background: #f4f5fc;
}

#link-login:hover {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0 10px;
}

#pincel-editor {
  border-radius: 50%;
  border: solid 1px #bbbbbb;
  box-shadow: 0 3px 3px;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.hover-link:hover {
  border-bottom: solid 1.5px #fff;
  padding-bottom: 2px;
}
.boxshadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.hover-cadastro {
  background: #f7d683;
}
.hover-cadastro:hover {
  animation: button-login2 0.5s forwards;
}
.bg-chefs {
  background: #edece4;
}

.no-focus button:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.bg-footer {
  background: #f7d683;
}

.lista-perfil li {
  color: #bbbbbb;
  border: none;
}

.dados {
  border-bottom: solid 1px #bbbbbb;
}

.dados span {
  color: #bbbbbb;
}

.dados h3 {
  color: #605c5d;
}

.dados div {
  margin-right: 50px;
}

#dados-adicionais span {
  color: #bbbbbb;
}

#dados-adicionais h3 {
  color: #605c5d;
}

a {
  color: black;
}
