body {
  font-family: Nunito, sans-serif;
}

.hover-link:hover {
  border-bottom: solid 1.5px #fff;
  padding-bottom: 2px;
}
.boxshadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.hover-cadastro {
  background: #f7d683;
}
.hover-cadastro:hover {
  animation: button-login2 0.5s forwards;
}
.bg-chefs {
  background: #edece4;
}

.no-focus button:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.bg-footer {
  background: #f7d683;
}
