@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show2 {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes color {
  to {
    color: #000;
    box-shadow: 2px 3px 6px #7b7b7b;
  }
}

@keyframes btnCadastro {
  to {
    color: #000;
    background-color: #f7d683;
  }
}

@keyframes button-login {
  to {
    background: #000;
    color: #fff;
  }
}

@keyframes showLogin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes button-cadastro {
  to {
    box-shadow: 0 3px 6px #7b7b7b;
  }
}
