/*------------PRIMEIRO CHEF-----------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* ESTILOS GERAIS */
.btn {
  color: #fff;
  border: solid 1.5px #fff;
  padding: 10px 20px;
  margin-top: 50px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.btn:hover {
  animation: color 0.5s forwards;
}

.container-geral {
  max-width: 960px;
  margin: 0 auto;
}

.boxshadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
/* ESTILOS GERAIS */

/*MENU*/
.menu {
  background: #000;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
  animation: show 1s forwards;
}
.container-menu img {
  width: 300px;
  height: 150px;
  background: #000;
}
.container-menu nav ul {
  display: flex;
  list-style: none;
}
.container-menu nav ul li a {
  color: #fff;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-family: "Dancing Script", cursive;
}

.btn-nav:hover {
  border-bottom: solid 1.5px #fff;
  padding-bottom: 2px;
}

.menu-lista-cadastro {
  display: flex;
  align-items: center;
}

.menu-lista-cadastro a {
  color: #fff;

  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-family: "Dancing Script", cursive;
}

.menu-lista-cadastro a:first-child:hover {
  border-bottom: solid 1.5px #fff;
  padding-bottom: 2px;
}

.menu-lista-cadastro a:nth-last-child(odd) {
  background-color: #546886;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
}

.menu-lista-cadastro a:nth-last-child(odd):hover {
  animation: btnCadastro 0.3s forwards;
}

/*MENU*/

.conteiner {
  margin: 45px;
  background-color: #f3f3f3;
  padding-left: 60px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.chef {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.telastyle {
  margin-left: 50px;
  margin-top: 30px;
  width: 102px;
  height: 36px;
  background: #333;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 19px;
  color: #ffffff;
}

.telastyle:hover {
  font-size: 19px;
  color: #ffffff;
  background: #111;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 25px;
}

.chef p {
  margin-left: 50px;
}

.show {
  display: block;
  left: 448px;
}

.sobreconteiner {
  overflow: auto;
  display: none;
  padding: 20px;
  width: 545px;
  height: 520px;
  position: absolute;
  border: 2px solid #959595;
  background: #f8f8f8;
  position: fixed;
  border-radius: 15px;
  box-sizing: border-box;
}

.show {
  display: block;
}

.certificados {
  margin-top: 20px;
  margin-bottom: 125px;
}

.historia {
  margin-bottom: 180px;
}

.botao {
  margin-left: 180px;
}

.botao button {
  font-size: 19px;
  color: #ffffff;
  width: 145px;
  height: 36px;
  background: #1d57ad;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 25px;
}

.botao button:hover {
  font-size: 19px;
  color: #ffffff;
  width: 145px;
  height: 36px;
  background: #0d2851;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 25px;
}

/* ANIMÃÇÃO DE LOGIN */

.login {
  max-width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;

  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.js-show div {
  display: none;
}

.js-show div.ativo {
  display: block;
  pointer-events: auto;
  animation: showLogin 0.5s forwards;
}

.login > div {
  max-width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #edece4;
  border-radius: 10px;
  text-align: center;
  border: solid 5px #ddddda;
}
.login img {
  max-width: 200px;
  margin: 0 auto;
}

.login label {
  font-size: 0.75em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 100%;
  display: block;
  margin: 10px auto;
}

.login input {
  border: solid 2px #000;
  border-radius: 6px;
  padding: 5px;
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
.login button {
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 2px #000;
  border-radius: 10px;
  padding: 8px 20px;
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
.login button:hover {
  animation: button-login 0.5s forwards;
}
.login input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
}
.fechar:hover {
  animation: btnCadastro 0.5s forwards;
}

/* ANIMÃÇÃO DE LOGIN */
